registry=https://registry.npmmirror.com
shamefully-hoist=false
auto-install-peers=true

# 允许原生模块预编译包下载
enable-pre-post-scripts=true

# Electron 二进制下载镜像
electron_mirror=https://npmmirror.com/mirrors/electron/
